@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@font-face {
    font-family: 'Timeless';
    src: url('./assests/fonts/Timeless.ttf') format('truetype');
}
.container-header {
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 40px;
}

.navbar-brand {
    font-size: 25px;
}

#navbarNavDropdown {
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 450px;
    font-size: 18px;
}

.navbar-nav {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}

.body-welcome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    padding: 25px;
}

.copyright {
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
}

.company-name {
    font-family: 'Timeless', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 46px;
    padding-bottom: 25px;
}