@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@font-face {
    font-family: 'Timeless';
    src: url('../../assests/fonts/Timeless.ttf') format('truetype');
}
.container-header {
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.navbar-brand {
    font-size: 25px;
    padding-left: 20px;
}

#navbarNavDropdown {
    font-family:'Times New Roman', Times, serif;
    margin-left: 450px;
    font-size: 18px;
}

.body-welcome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    padding: 25px;
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    background-color: #f7f7f7;
}

.company-name {
    font-family: 'Timeless', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 46px;
    padding: 25px;
}

.row {
    font-family: 'Times New Roman', sans-serif;
    padding: 50px 400px 50px 400px;
    text-align: center;
    border: 1px solid #111111;
}

.content {
    width: 100%;
    position: relative;
}

.row {
    font-family: 'Times New Roman', sans-serif;
    padding: 50px 400px 50px 400px;
    text-align: center;
}

:focus {
    outline: none;
}

.input {
    width: 650px;
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid #929fba;
}

.input ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
}

.input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
}

.container {
    border: 0.5px solid;
    padding-bottom: 40px;
}

.border {
      border: 1px solid #4285F4!important;
  }

.button {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    width: 680px;
    font-size: 18px;
}