@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

@font-face {
    font-family: 'Timeless';
    src: url('../../assests/fonts/Timeless.ttf') format('truetype');
}

.navbar-brand {
    font-size: 25px;
    padding-left: 20px;
}

#navbarNavAltMarkup {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 375px;
    font-size: 18px;
}

#homepage {
    padding-left: 30px;
}

#about {
    padding-left: 30px;
}

#contact {
    padding-left: 30px;
}

#blog {
    padding-left: 30px;
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    background-color: #f7f7f7;
}

.company-name {
    font-family: 'Timeless', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 46px;
    padding: 25px;
}

.content {
    width: 100%;
    position: relative;
}

.footop-newsletter {
    font-family: 'Times New Roman', sans-serif;
    padding: 50px 400px 50px 400px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.bottom {
    padding-top: 25px;
}

.input {
    border: 0;
    outline: 0;
    width: 600px;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.button {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    width: 600px;
    font-size: 18px;
}