@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@font-face {
    font-family: 'Timeless';
    src: url('../../assests/fonts/Timeless.ttf') format('truetype');
}
.container-header {
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.navbar-brand {
    font-size: 25px;
    padding-left: 20px;
}

#navbarNavDropdown {
    font-family:'Times New Roman', Times, serif;
    margin-left: 450px;
    font-size: 18px;
}

.body-welcome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    padding: 25px;
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.company-name {
    font-family: 'Timeless', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 46px;
    padding: 25px;
}

.row {
    font-family: 'Times New Roman', sans-serif;
    padding: 50px 400px 50px 400px;
    text-align: center;
}

.copyright {
    background-color: #f7f7f7;
}

input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 18px;
}

input[type="email"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.button {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    width: 680px;
    font-size: 18px;
}